SITE_FQDN=${site_fqdn}
ACR_LOGIN_SERVER=${acr_login_server}
IMAGE_TAG=${image_tag}
DATABASE_URL=sqlite:////data/pnballie.db
KEY_VAULT_NAME=${key_vault_name}

ACR_USERNAME=__KV__:${kv_secret_acr_username}
ACR_PASSWORD=__KV__:${kv_secret_acr_password}
